version: '3.8'

services:
  db:
    image: postgres:18
    container_name: course_project
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - course-network

networks:
  course-network:
    driver: bridge